#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Color del track (fondo de la barra) */
::-webkit-scrollbar-track {
  background: #1a202c; /* Color oscuro */
  border-radius: 10px;
}

/* Color del thumb (barra de desplazamiento) */
::-webkit-scrollbar-thumb {
  background: #4a5568; /* Gris oscuro */
  border-radius: 10px;
}

/* Hover sobre la barra */
::-webkit-scrollbar-thumb:hover {
  background: #2d3748; /* Un poco más oscuro */
}

/* Scrollbar para Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #4a5568 #1a202c;
}
